<!doctype html>
<html lang="en">
    <head>
        <title>LexiCube</title>
        <link rel="shortcut icon" type="image/ico" href="favicon.ico" />
        <link rel="stylesheet" href="stylesheets/foundation.min.css" />
        <link rel="stylesheet" href="stylesheets/cube.css" />
        <link rel="stylesheet" href="stylesheets/loading.css" />
    </head>
    <body>
        <div id="wrapper" class="hidden">
          <div id="faceInfo"></div>
        
    			<div id="flipRight" class="foundicon-right-arrow"></div>
    			<div id="flipLeft" class="foundicon-left-arrow"></div>
    			<div id="flipUp" class="foundicon-up-arrow"></div>
    			<div id="flipDown" class="foundicon-down-arrow"></div>
            
          <section id="threeDspace">
              <div id="cube">
                  <div class="face" id="front"></div>
                  <div class="face" id="back"></div>
                  <div class="face" id="right"></div>
                  <div class="face" id="left"></div>
                  <div class="face" id="top"></div>
                  <div class="face" id="bottom"></div>
              </div>
          </section>

          <section id="clue"></section>
          <section id="show-buttons">
            <button class="show-front">Show Front (1)</button>
            <button class="show-back">Show Back (2)</button>
            <button class="show-right">Show Right (3)</button>
            <button class="show-left">Show Left (4)</button>
            <button class="show-top">Show Top (5)</button>
            <button class="show-bottom">Show Bottom (6)</button>
          </section>
            
          <div class="audio">
            <audio id="winSound">
              <source src="success.ogg"></source>
              <source src="success.mp3"></source>
              Sounds are unavailable! Fail!
            </audio>
            <audio id="failSound">
              <source src="fail.ogg"></source>
              <source src="fail.mp3"></source>
            </audio>
          </div>
          

          <div id="chat-window">
  	        <div class="user-list">
      				<b>Online Players</b>
      				<div id="users"></div>
    			 </div>
    			<div id="conversation"></div>
      			<div id="input">
      				<input id="data" style="width:219px; height: 37px;" />
      				<input type="button" class="button" id="datasend" value="Send" />
      			</div>
          </div>
        </div>
        
        <div id="userStyles"></div>

        <script src="http://code.jquery.com/jquery.min.js"></script>
        <script src="scripts/cube.js"></script>
        <script src="/socket.io/socket.io.js"></script>
        <script src="/jquery.raptorize.1.0.js"></script>
       	<script src="scripts/main.js"></script>

       <% if (user) { %>
        <script>var username = "<%= user.username %>";</script>
        <script>var userId = "<%= user._id %>";</script>
      <% } %>

      <div class="row hidden">
        <div class="twelve columns introInstructions">
                <p>Spin the cube with the arrow buttons. Click on an empty square to see its clue. Click again to switch between down and across clues.</p>
                
                <p>Answers turn <span class="correctWord">GREEN</span> when they are correct. Correct letters are locked and cannot be changed.</p>
                
                <p>Get points for completing words faster than your opponents! Longer words get you more points!</p>
        </div>
    </div>

    </body>
</html>