<!doctype html>
<html lang="en">
    <head>
        <title>LexiCube</title>
        <meta name="viewport" content="width=device-width; initial-scale=1.0; user-scalable=1;"/>
        <link rel="shortcut icon" type="image/ico" href="favicon.ico" />
        <link rel="stylesheet" href="stylesheets/foundation.min.css" />
        <link rel="stylesheet" href="stylesheets/cube.css" />
        <link rel="stylesheet" href="stylesheets/loading.css" />
    </head>
    <body>
        <header>
        </header>
        <section class="main">
            <div class="row">
                <div class="six columns">
                    <div class="light-header">
                        <h1>Lexicube</h1>
                        <h4 class="subheader header">a multiplayer 3D crossword game.</h4>
                    </div>
                    <img src="images/cube.png" title="LexiCube" />
                </div>
                <div class="five columns offset-by-one">
                    <% if (typeof(error) != 'undefined' && error != '') { %>
                     <div class="end error"><small class="error"><%= error %></small></div>
                    <% } %>
                    <form id="login" action="/login" method="post">
                        <fieldset class="form-panel">
                            <h4 class="subheader header">Login</label></h4>
                            <input type="text" name="username" placeholder="username" />
                            <input type="password" name="password" placeholder="password" />
                            <input type="submit" class="button expand" value="Sign In" />
                        </fieldset>
                    </form>
                    <form id="register" action="/register" method="post">
                        <fieldset class="form-panel">
                            <h3>New User</h3>
                            <h5 class="subheader header">What's your name?</h5>
                            <input type="text" name="username" placeholder="username" />
                            <input type="password" name="password" placeholder="password" />
                            <input type="submit" class="button expand postfix" value="Play Now!" />
                        </fieldset>
                    </form>
                </div>
            </div>
        </section>
        <script src="http://code.jquery.com/jquery.min.js"></script>
    </body>
</html>